<div class="heading">
    <div class="pageTtl">
      <i class="products"></i>
      <p>Product</p>
    </div>
    <div class="action">
      <a class="blueBtn" 
        (click)="onAddSave()" 
        [ngClass]="{ 'disabled': productForm.invalid }"
        >Add & Save</a>
      <a class="grayDarkBtn m-r-5" (click)="onCancel()">Cancel & Close</a>
    </div>
  </div>
  <div class="formCont">
    <div class="headerInfo product">
      <i></i>
      <div class="text">
        <h3>New product</h3>
        <h4>Please type product details</h4>
      </div>
    </div>
    <div class="formGroup" [formGroup]="productForm">
      <div class="generalInfo">
        <div class="inputWrp" [ngClass]="{'error': productName.invalid && (productName.dirty || productName.touched)}">
          <div class="title">
            <i class="product"></i><span>Product name</span>
          </div>
          <input type="text" formControlName="productName"/>
          <span class="error" *ngIf="productName.invalid && (productName.dirty || productName.touched)">Incorrect value</span>
        </div>
        <div class="inputWrp" [ngClass]="{'error': serialNumber.invalid && (serialNumber.dirty || serialNumber.touched)}">
          <div class="title">
            <i class="serialNum"></i><span>Serial number</span>
          </div>
          <input type="text" formControlName="serialNumber"/>
          <span class="error" *ngIf="serialNumber.invalid && (serialNumber.dirty || serialNumber.touched)">Incorrect value</span>
        </div>
        <div class="inputWrp" [ngClass]="{'error': quantity.invalid && (quantity.dirty || quantity.touched)}">
          <div class="title">
            <i class="quantity"></i><span>Quantity</span>
          </div>
          <input type="number" min="1" formControlName="quantity"/>
          <span class="error" *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)">Incorrect value</span>
        </div>
        <div class="inputWrp" [ngClass]="{'error': project.invalid && (project.dirty || project.touched)}">
          <div class="title">
            <i class="project"></i><span>Project</span>
          </div>
          <div class="dropdown">
            <select formControlName="project">
              <option disabled selected>Choose project</option>
                <option 
                    *ngFor="let project of projects"
                    [value]="project.id"
                >{{ project.projectName }}</option>
            </select>
          </div>
          <span class="error" *ngIf="project.invalid && (project.dirty || project.touched)">Incorrect value</span>
        </div>
        <div class="inputWrp" [ngClass]="{'error': statusId.invalid && (statusId.dirty || statusId.touched)}">
            <div class="title">
                <i class="status"></i><span>Status</span>
            </div>
            <div class="dropdown">
                <select formControlName="statusId">
                    <option value=1>In Progress</option>
                    <option value=2>New</option>
                    <option value=3>Finished</option>
                </select>
            </div>
            <span class="error" *ngIf="statusId.invalid && (statusId.dirty || statusId.touched)">Incorrect value</span>
        </div>
      </div>
      <div class="addDescription" [ngClass]="{'error': description.invalid && (description.dirty || description.touched)}">
        <div class="header">
          <i class="description"></i>
          <p>Description</p>
        </div>
        <textarea rows="8" cols="110" formControlName="description"></textarea>
        <span class="error" *ngIf="description.invalid && (description.dirty || description.touched)">Incorrect value</span>
      </div>
      <div class="attachedProducts" [ngClass]="{'error': uploadPicture.invalid && (uploadPicture.dirty || uploadPicture.touched)}">
        <div class="header">
          <div class="picture">
            <i class="picture"></i>
            <p>Picture</p>
          </div>
          <div class="uploadWrp">
            <a class="grayDarkBtn" 
                [ngClass]="{'disabled': pictures.length >= MAX_UPLOAD_FILES_LENGTH
                 || computedPicturesListSize > MAX_UPLOAD_FILES_SIZE}"
            >Upload</a>
            <input 
                type="file" 
                formControlName="uploadPicture" 
                accept="image/gif, .jpg, image/png" 
                (change)="onUploadPicture($event.target.files);"
                [ngClass]="{'disabled': pictures.length >= MAX_UPLOAD_FILES_LENGTH
                 || computedPicturesListSize > MAX_UPLOAD_FILES_SIZE}"
            />
          </div>
          <span class="error" *ngIf="uploadPicture.invalid && (uploadPicture.dirty || uploadPicture.touched)">Max upload file size: 12 MB.</span>
          <span class="error" *ngIf="uploadPicture.valid && thumbArray.invalid">Select one picture as thumb.</span>
        </div>
        <div class="list" *ngIf="pictures.length == 0">
          <p>NO PICTURES</p>
        </div>
        <div class="list" *ngIf="pictures.length != 0">
            <div class="tableWrp">
                <div class="table inner">
                    <div class="header">
                        <span class="thumb">Thumb</span>
                        <span class="picture">Picture</span>
                        <span class="fileName">File name</span>
                        <span class="fileSize">File size</span>
                        <span class="download">Download</span>
                        <div class="delete">Delete</div>
                    </div>
                    <div class="content">
                        <div formArrayName="thumbArray">
                            <div *ngFor="let control of thumbArray.controls, let i=index">
                                <div class="row" *ngIf="!pictures[i].type.match('deleted')">
                                    <span class="thumb">
                                        <input type="radio" [value]="i" formControlName={{i}} (click)="onSelectThumb(i)">
                                    </span>
                                    <div class="picture">
                                        <a class="picWrp">
                                            <img [src]="pictures[i].imageSrc">
                                            <var class="zoom"><span></span></var>
                                        </a>
                                    </div>
                                    <span class="fileName">{{ pictures[i].name }}</span>
                                    <span class="fileSize">{{ convertBytesToMegabytes(pictures[i].size) }}</span>
                                    <span class="download">
                                        <a class="greenBtn" [href]="pictures[i].imageSrc" download><i></i></a>
                                    </span>
                                    <div class="delete">
                                        <a 
                                            class="grayDarkBtn" 
                                            (click)="onDeletePicture(i)"
                                        ><i></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>