<div class="heading">
    <div class="pageTtl">
      <i class="products"></i>
      <p>Product</p>
    </div>
    <div class="action">
      <a class="blueBtn" (click)="onAddSave()">Add & Save</a>
      <a class="grayDarkBtn m-r-5" href="products.html">Cancel & Close</a>
    </div>
  </div>
  <div class="formCont">
    <div class="headerInfo product">
      <i></i>
      <div class="text">
        <h3>New product</h3>
        <h4>Please type product details</h4>
      </div>
    </div>
    <div class="formGroup">
      <div class="generalInfo">
        <div class="inputWrp">
          <div class="title">
            <i class="product"></i><span>Product name</span>
          </div>
          <input type="text"/>
          <span class="error">Incorrect value</span>
        </div>
        <div class="inputWrp">
          <div class="title">
            <i class="serialNum"></i><span>Serial number</span>
          </div>
          <input type="text"/>
          <span class="error">Incorrect value</span>
        </div>
        <div class="inputWrp">
          <div class="title">
            <i class="quantity"></i><span>Quantity</span>
          </div>
          <input type="text"/>
          <span class="error">Incorrect value</span>
        </div>
        <div class="inputWrp">
          <div class="title">
            <i class="project"></i><span>Project</span>
          </div>
          <div class="dropdown">
            <select>
              <option>Choose project</option>
              <option>Offset printing table</option>
              <option>Weather baloon drone</option>
              <option>Coffee cup maker</option>
            </select>
          </div>
        </div>
      </div>
      <div class="addDescription">
        <div class="header">
          <i class="description"></i>
          <p>Description</p>
        </div>
        <textarea rows="8" cols="110">
        
        </textarea>
      </div>
      <div class="attachedProducts">
        <div class="header">
          <div class="picture">
            <i class="picture"></i>
            <p>Picture</p>
          </div>
          <div class="uploadWrp">
            <a class="grayDarkBtn">Upload</a>
            <input type="file"/>
          </div>
        </div>
        <div class="list">
          <p>NO PICTURES</p>
        </div>
      </div>
    </div>
  </div>