<div class="windowPopWrp" [ngStyle]="{'display': active ? 'block' : 'none'}">
  <div class="windowPop">
    <div class="windowPopHeader">
      <i></i>
      <div class="title">
        <p *ngIf="this.authService.windowPopLogout">Log out</p>
        <p *ngIf="!this.authService.windowPop">Delete image</p>
        <p *ngIf="this.authService.windowPopFail">Authentication Failed</p>
        <p *ngIf="this.authService.windowPopSuccess">Success!</p>
      </div>
    </div>
    <div class="windowPopContents">
      <div class="centered">
        <h4 *ngIf="this.authService.windowPopLogout">Are you sure?</h4>
        <h4 *ngIf="this.authService.windowPopFail">Your request is not successful!</h4>
        <span *ngIf="this.authService.windowPopLogout">You will be logged out!</span>
        <span *ngIf="this.authService.windowPopFail">Try again with different credentials.</span>
        <span *ngIf="this.authService.windowPopSuccess">Your request was successful.</span>
      </div>
    </div>
    <div class="windowPopButtons">
      <a class="grayDarkBtn" (click)="onCancel()">Okay</a>
      <a *ngIf="this.authService.windowPopLogout" class="greenBtn" (click)="onSubmit()">Confirm</a>
    </div>
  </div>
</div>