<div class="wrapper">
    <app-window-pop 
        [(active)]="windowPopAvtivate" 
    ></app-window-pop>
    <app-image-carousel
        [(active)]="carouselAvtivate"
    ></app-image-carousel>
    <div *ngIf="isAuthenticated">
        <app-header></app-header>
        <div class="contentWrapper">
            <div class="content">
                <div class="breadcrumbs">
                    <div *ngFor="let breadcrumb of breadcrumbs" >
                        <a 
                            *ngIf="breadcrumb.src"
                            [routerLink]="breadcrumb.src"
                        >{{ breadcrumb.name }}</a>
                        <a 
                            *ngIf="!breadcrumb.src"
                        >{{ breadcrumb.name }}</a>
                    </div>
                </div>
                <ng-container *ngTemplateOutlet="template"></ng-container>
            </div>
        </div>
    </div>
    <div *ngIf="!isAuthenticated">
        <ng-container *ngTemplateOutlet="template"></ng-container>
    </div>
</div>

<ng-template #template>
    <router-outlet>
    </router-outlet>
</ng-template>