<div class="heading">
    <div class="pageTtl">
      <i class="projects"></i>
      <p>Projects(16)</p>
    </div>
    <div class="action">
      <a class="greenBtn" routerLink="new">Add project</a>
      <div class="dropdown">
        <select>
          <option>Results per page:5</option>
          <option>Results per page:10</option>
        </select>
      </div>
    </div>
  </div>
  <div class="tableWrp">
    <div class="filters">
      <p>Filters</p>
      <div class="inputWrp date">
        <input value="Date from"/>
      </div>
      <div class="inputWrp date">
        <input value="Date to"/>
      </div>
      <div class="dropdown status">
        <select>
          <option>Status:All</option>
        </select>
      </div>
      <a class="blueDarkBtn">Apply</a>
      <div class="right">
        <a class="grayBtn"><span>Clear filters</span><i></i></a>
        <div class="pagination">
          <a class="arrowLeft"><i></i></a>
          <div class="center">
            <a class="active">1</a>
            <a>2</a>
            <a>3</a>
          </div>
          <a class="arrowRight disabled"><i></i></a>
        </div>
      </div>
    </div>
    <div class="table">
      <div class="header">
        <div class="checkbox"><a class="checkbox"><i></i></a></div>
        <span class="number">#</span>
        <a class="date"><i class="sort up"></i>Created</a>
        <span class="projectName">Project name</span>
        <span class="companyName">Company name</span>
        <span class="projectManager">Project manager</span>
        <a class="products"><i class="sort up"></i>Products</a>
        <div class="status">Status</div>
        <div class="settings"><i></i></div>
      </div>
      <div class="content">
        <app-project-item></app-project-item> <!--for project in projects-->
      </div>
    </div>
    <div class="actionTtl">
      <i></i>
      <p>With 1 projects selected:</p>
    </div>
    <div class="bottomActions">
      <p>Actions</p>
      <div class="dropdown">
        <select>
          <option>Select</option>
          <option>Change status to New</option>
          <option>Change status to In progress</option>
          <option>Change status to Finished</option>
          <option>Delete</option>
        </select>
      </div>
      <a class="blueDarkBtn">Apply</a>
    </div>
  </div>