<div class="heading">
    <div class="pageTtl">
      <i class="projects"></i>
      <p>Projects({{ totalCount }})</p>
    </div>
    <div class="action">
      <a class="greenBtn" routerLink="new">Add project</a>
      <div class="dropdown">
        <select #resultsPerPageDropdown (change)="changeResultsPerPage(resultsPerPageDropdown.value)">
          <option [selected]="pageParams.pageSize == 5" value=5>Results per page:5</option>
          <option [selected]="pageParams.pageSize == 20" value=20>Results per page:20</option>
          <option [selected]="pageParams.pageSize == 50" value=50>Results per page:50</option>
        </select>
      </div>
    </div>
  </div>
  <div class="tableWrp">
    <div class="filters">
      <p>Filters</p>
      <div class="inputWrp date">
        <input 
            #dateFrom 
            [(ngModel)]="fromDate"
            placeholder="Date from" 
            [max]="dateToFilter"
            (ngModelChange)="dateFromFilter = fromDate"
            [owlDateTime]="dt1" 
            [owlDateTimeTrigger]="dt1" 
        >
        <owl-date-time #dt1
            pickerType="calendar"
        ></owl-date-time>
      </div>
      <div class="inputWrp date">
        <input #dateTo 
            [(ngModel)]="toDate"
            placeholder="Date to" 
            [min]="dateFromFilter"
            (ngModelChange)="dateToFilter = toDate"
            [owlDateTime]="dt2" 
            [owlDateTimeTrigger]="dt2" 
        />
        <owl-date-time #dt2
            pickerType="calendar"
        ></owl-date-time>
      </div>
      <div class="dropdown status">
        <select #statusDropdown>
          <option value=0 selected>Status: All</option>
          <option value=1>Status: In Progress</option>
          <option value=2>Status: New</option>
          <option value=3>Status: Finished</option>
        </select>
      </div>
      <a class="blueDarkBtn" 
        (click)="applyFilters(statusDropdown.value, dateFrom.value, dateTo.value)"
      >Apply</a>
      <div class="right">
        <a *ngIf="!filterParams.isUndefined()"  class="grayBtn" (click)="clearFilters()">
            <span>Clear filters</span><i></i>
        </a>
        <div class="pagination">
          <a class="arrowLeft"
            [ngClass]="{'disabled': pageParams.page == 1}"
            (click)="changePageDown()"
          ><i></i></a>
          <div class="center">
            <a *ngIf="pagesArray.length == 0" class="disabled">0</a>
            <a 
                *ngFor="let curPage of pagesArray"
                (click)="changePage(curPage)"
                [ngClass]="{'active': pageParams.page == curPage}">{{ curPage }}
            </a>
          </div>
          <a class="arrowRight"
            [ngClass]="{'disabled': pageParams.page == totalPages}"
            (click)="changePageUp()"
          ><i></i></a>
        </div>
      </div>
    </div>
    <div class="table">
        <div class="header">
            <div class="checkbox">
                <a class="checkbox" 
                    (click)="onSelectAll()"
                    [ngClass]="{'active': isMasterChecked}"
                ><i></i></a>
            </div>
            <span class="number">#</span>
            <a class="date" (click)="sortByDate()">
                <i [ngClass]="sortByDateDesc ? 'sort down' : 'sort up'"></i>
            Created</a>
            <span class="projectName">Project name</span>
            <span class="companyName">Company name</span>
            <span class="projectManager">Project manager</span>
            <a class="products" (click)="sortByProductsCount()">
                <i [ngClass]="sortByProductsCountDesc ? 'sort down' : 'sort up'"></i>
            Products</a>
            <div class="status">Status</div>
            <div class="settings"><i></i></div>
        </div>
        <div class="content">
            <div class="row" *ngFor="let project of projects; let i = index">
                <div class="checkbox">
                    <a class="checkbox" 
                        [ngClass]="{'active': project.isChecked}"
                        (click)="onSelect(project)"
                    ><i></i></a>
                </div>
                <span class="number">{{ (((this.pageParams.page-1) * this.pageParams.pageSize) + i + 1) }}</span>
                <span class="date">{{ project.createdAt | date:'mediumDate' }}</span>
                <span class="projectName">{{ project.projectName }}</span>
                <span class="companyName">{{ project.companyName }}</span>
                <span class="projectManager">{{ project.projectManager.name }}</span>
                <div class="products">
                    <span><a class="blueBtn" (click)="onOpenProducts(project.projectName)">{{ project.productsCount }}</a></span>
                    <a class="grayBtn" (click)="onAddNewProduct(project.id)"><i></i></a>
                </div>
                <div class="status">
                    <span [ngClass]="project.status.cssClass">{{ project.status.name }}</span>
                </div>
                <div class="settings"><a class="grayBtn" (click)="onEdit(project.id)"><i></i></a></div>
            </div>
        </div>
    </div>
    <div class="actionTtl">
      <i></i>
      <p>With {{ selectedProjectsCount }} projects selected:</p>
    </div>
    <div class="bottomActions">
      <p>Actions</p>
      <div class="dropdown">
        <select #actionsDropdown>
          <option selected disabled>Select</option>
          <option value="NEW">Change status to New</option>
          <option value="IN_PROGRESS">Change status to In progress</option>
          <option value="FINISHED">Change status to Finished</option>
          <option value="DELETE">Delete</option>
        </select>
      </div>
      <a class="blueDarkBtn" (click)="applyChanges(actionsDropdown.value)">Apply</a>
    </div>
  </div>