<div 
  class="windowPopWrp" 
  [(ngModel)]="active"
  (logout)="logout"
  ngDefaultControl
  [ngStyle]="{'display': active ? 'block' : 'none'}">
  <div class="windowPop">
    <div class="windowPopHeader">
      <i></i>
      <div class="title">
        <p>{{ title }}</p>
      </div>
    </div>
    <div class="windowPopContents">
      <div class="centered">
          <h4>{{ context}}</h4>
          <span>{{ details }}</span> 
      </div>
    </div>
    <div class="windowPopButtons">
      <a *ngIf="!logout && !deleteImage" class="grayDarkBtn" (click)="onCancel($event)">Okay</a>
      <a *ngIf="logout || deleteImage" class="grayDarkBtn" (click)="onCancel($event)">Cancel</a>
      <a *ngIf="logout" class="greenBtn" (click)="onLogout($event)">Confirm</a>
      <a *ngIf="deleteImage" class="greenBtn" (click)="onDeleteImage($event)">Confirm</a>
    </div>
  </div>
</div>