<div class="windowPopWrp" [ngStyle]="{'display': forgottenPass ? 'block' : 'none'}">
		<div class="windowPop">
			<div class="windowPopHeader">
				<i></i>
				<div class="title">
					<p>Reset password</p>
					<p>Type in your email to reset our password</p>
				</div>
			</div>
			<div class="windowPopContents">
				<div class="centered">
					<h4>Email address</h4>
					<div class="inputWrp" [formGroup]="forgotPassForm" [ngClass]="{'error': email.invalid && (email.dirty || email.touched)}">
						<div class="input">
							<i class="email"></i>
							<input 
								type="email" 
								formControlName="email" 
								trim
								ng-pattern="/^[a-zA-Z_-]*$/"
							/>
						</div>
						<span 
							class="error"
							*ngIf="email.invalid && (email.dirty || email.touched)"
						>Please enter correct email address</span>
					</div>
					<span 
						[ngStyle]="{'display': this.authService.forgotPassFormSubmited ? 'block' : 'none'}"
					>You will receive an email with a new password.</span>
					<span 
						[ngStyle]="{'display': this.authService.forgotPassFormError ? 'block' : 'none'}"
					>User does not exists, please try again.</span>
				</div>
			</div>
			<div class="windowPopButtons">
				<a class="grayDarkBtn" (click)="onCancel()">Cancel</a>
				<a 
					(click)="onForgotPassSubmit()" 
					[ngClass]="{ 'disabled': forgotPassForm.invalid }"
					class="greenBtn"
				>Reset</a>
			</div>
		</div>
	</div>