<div 
    class="windowPopWrp" 
    [ngStyle]="{'display': active ? 'block' : 'none'}">
    <div class="windowPop">
        <div class="windowPopHeader">
            <i></i>
            <div class="title">
                <p>Reset Password</p>
                <p>Type in your email to reset your password</p>
            </div>
        </div>
        <div class="windowPopContents">
            <div class="centered">
                <div class="inputWrp emailPad" 
                    [formGroup]="forgotPassForm" 
                    [ngClass]="{'error': email.invalid && (email.dirty || email.touched)}">
                    <div class="title"><span><h4>Email address</h4></span></div>
                    <div class="input">
                        <i class="email"></i>
                        <input 
                        type="email" 
                        formControlName="email" 
                        trim
                        ng-pattern="/^[a-zA-Z_-]*$/"
                        />
                    </div>
                    <span 
                        class="error"
                        [ngStyle]="{'display': email.invalid && (email.dirty || email.touched) ? 'block' : 'none'}"
                    >Please enter correct email address.</span>
                    <span 
                        [ngStyle]="{'display': forgotPassFormError ? 'block' : 'none'}"
                    >User does not exists, please try again.</span>
                    <span 
                        [ngStyle]="{'display': forgotPassFormSubmited ? 'block' : 'none'}"
                    >You will receive an email with a new password.</span>
                </div>
            </div>
        </div>
        <div class="windowPopButtons">
            <a class="grayDarkBtn" (click)="onCancel()">Cancel</a>
            <a 
                (click)="onForgotPassSubmit()" 
                [ngClass]="{ 'disabled': forgotPassForm.invalid }"
                class="greenBtn"
            >Reset</a>
        </div>
    </div>
</div>