<div class="searchWrp">
  <div class="search">
    <i class="searchIcon"></i>
    <input value="Search"/>
    <a class="clear"></a>
  </div>
  <!-- <div class="searchDropdown">
    <div class="items">
      <a class="result">
        <i class="project"></i>
        <span class="type">Project name</span>
        <span class="item">Offset printing DE122</span>
      </a>
      <a class="result">
        <i class="company"></i>
        <span class="type">Company</span>
        <span class="item">Company SE123</span>
      </a>
      <a class="result">
        <i class="manager"></i>
        <span class="type">Project manager</span>
        <span class="item">John  Doe12</span>
      </a>
      <a class="result">
        <i class="product"></i>
        <span class="type">Product name</span>
        <span class="item">Wooden arm ze123</span>
      </a>
      <a class="result">
        <i class="serialNum"></i>
        <span class="type">Serial number</span>
        <span class="item">e123456</span>
      </a>
    </div>
  </div> -->
</div>