<div class="searchWrp">
    <div class="search">
        <i class="searchIcon"></i>
        <input #input placeholder="Search" (keyup)="onInput(input)"/>
        <a class="clear" (click)="onClear(input)"></a>
    </div>
    <div class="searchDropdown" *ngIf="products.length != 0 || projects.length != 0">
        <div class="items">
            <div *ngFor="let product of products">
                <a 
                    class="result" 
                    *ngIf="product.field.match('productName')"
                    (click)="onEditProduct(product.id, input)"
                    >
                    <i class="product"></i>
                    <span class="type">Product name</span>
                    <span class="item">{{ product.productName }}</span>
                </a>
                <a 
                    class="result" 
                    *ngIf="product.field.match('serialNumber')"
                    (click)="onEditProduct(product.id, input)"
                    >
                    <i class="serialNum"></i>
                    <span class="type">Serial number</span>
                    <span class="item">{{ product.serialNumber }}</span>
                </a>
            </div>
            <div *ngFor="let project of projects">
                <a 
                    class="result" 
                    *ngIf="project.field.match('projectName')"
                    (click)="onEditProject(project.id, input)"
                    >
                    <i class="project"></i>
                    <span class="type">Project name</span>
                    <span class="item">{{ project.projectName }}</span>
                </a>
                <a 
                    class="result" 
                    *ngIf="project.field.match('companyName')"
                    (click)="onEditProject(project.id, input)"
                    >
                    <i class="company"></i>
                    <span class="type">Company</span>
                    <span class="item">{{ project.companyName }}</span>
                </a>
                <a 
                    class="result" 
                    *ngIf="project.field.match('projectManager.name')"
                    (click)="onEditProject(project.id, input)"
                    >
                    <i class="manager"></i>
                    <span class="type">Project Manager</span>
                    <span class="item">{{ project.projectManagerName }}</span>
                </a>
            </div>
        </div>
    </div>
</div>