<div class="heading">
  <div class="pageTtl">
    <i class="products"></i>
    <p>Products({{ totalCount }})</p>
  </div>
  <div class="action">
    <a class="blueBtn" routerLink="new">Add product</a>
    <div class="dropdown">
      <select>
        <option>Results per page:5</option>
        <option>Results per page:10</option>
      </select>
    </div>
  </div>
</div>
<div class="tableWrp">
  <div class="filters">
    <p>Filters</p>
    <div class="inputWrp date">
      <input value="Date from"/>
    </div>
    <div class="inputWrp date">
      <input value="Date to"/>
    </div>
    <div class="dropdown status">
      <select>
        <option>Status:All</option>
      </select>
    </div>
    <div class="dropdown status">
      <select>
        <option>Project:All</option>
      </select>
    </div>
    <a class="blueDarkBtn">Apply</a>
    <div class="right">
      <a class="grayBtn"><span>Clear filters</span><i></i></a>
      <div class="pagination">
        <a class="arrowLeft"><i></i></a>
        <div class="center">
          <a class="active">1</a>
          <a>2</a>
          <a>3</a>
        </div>
        <a class="arrowRight disabled"><i></i></a>
      </div>
    </div>
  </div>
  <div class="table">
    <div class="header">
      <div class="checkbox"><a class="checkbox active"><i></i></a></div>
      <span class="number">#</span>
      <a class="date"><i class="sort up"></i>Created</a>
      <span class="productName">Product name</span>
      <span class="sn">SN</span>
      <a class="quantity"><i class="sort up"></i>Qty</a>
      <span class="description">Description</span>
      <span class="project">Project</span>
      <span class="picture">Picture</span>
      <div class="status">Status</div>
      <div class="settings"><i></i></div>
    </div>
    <div class="content">
        <app-product-item 
          *ngFor="let product of products"
          [product]="product"
        ></app-product-item>
    </div>
  </div>
  <div class="actionTtl">
    <i></i>
    <p>With 4 project selected:</p>
  </div>
  <div class="bottomActions">
    <p>Actions</p>
    <div class="dropdown">
      <select>
        <option>Select</option>
        <option>Change status to New</option>
        <option>Change status to In progress</option>
        <option>Change status to Finished</option>
        <option>Delete</option>
      </select>
    </div>
    <a class="blueDarkBtn">Apply</a>
  </div>
</div>