<div class="rightCont">
  <div class="welcome">
    <i class="profilePic"></i>
    <p>Welcome <span>{{ this.authService.currentUser.firstName }}</span></p>
  </div>
  <div class="activity">
    <p class="ttl">Activity</p>
    <div class="lastActions">Last <span>15</span> actions:</div>
    <div class="history">
      <div class="row">
        <p class="date">12.05.2018</p>
        <p class="hour">14:32:33'</p>
        <div class="action">
          <i class="user"></i>
          <p><span>John Doe</span> logged in</p>
        </div>
      </div>
      <div class="row">
        <p class="date">12.05.2018</p>
        <p class="hour">12:20:15'</p>
        <div class="action">
          <i class="product"></i>
          <p><span>John Doe</span> created new Product</p>
        </div>
      </div>
      <div class="row">
        <p class="date">11.05.2018</p>
        <p class="hour">09:45:02'</p>
        <div class="action">
          <i class="project"></i>
          <p><span>John Doe</span> created new Project</p>
        </div>
      </div>
    </div>
  </div>
</div>